/* 
- INTRO TO CSS FLEXBOX (MUY IMPORTANTE)

Serie de propiedades que usamos para diseñar elementos en nuestra pagina
en una caja de contendio

Tenemos un contenedor y queremos distribuir todo en ese contenedor de manera uniforme

POR EJEMPLO: en una pagina web cuando la voy minimizando, los elementos se van achicando pero cada uno respeta
su tamaño respecto a los otros. Esto se hace con FLEXBOX - Son elementos flexibles


Properties:

    . FLEX-DIRECTION: Nos permite dirigir la direccion del eje principal denuestro contenedor

    EJEMPLOS:

    flex-direction: row; - Es el predeterminado 
    flex-direction: row-reverse; - Invierte el orden horizontalmente (Ahora empieza de derecha a izq)
    flex-direction: column; Se direcciona verticalmente dentro del contenedor
    flex-direction: column-reverse; Lo mismo que column pero a la inversa

    (TODO LO QUE CONFIGURAMOS PARA QUE SE FLEXIONE TIENE UN EJE PRINCIPAL, EL VALOR PREDETERMINADO VA DE IZQ A DERECHA
    PERO NOSOTROS PODEMOS CAMBIARLO - DETERMINA COMO FLUYE EL CONTENIDO DEL CONTENEDOR)

    . JUSTIFY-CONTENT: Determina como en los elementos reales se distribuye el contenido en el eje principal

    EJEMPLOS:

    justify-content: flex-start; Es el predeterminado - Va de izq a derecha
    justify-content: flex-end; Toma el contenido y lo mueve al final del eje principal
    justify-content: center; Centra el contenido a lo largo del eje principal
    justify-content: space-between; El espacio entre ellos ocupa todo el espacio extra del contenedor y lo distribuye PERO NO en los BORDES EXTERIORES
    justify-content: space-around; Le da a cada elemento la misma cantidad de espacio alrededor - Pero a la mitad respecto a los bordes
    justify-content: space-evenly; todos tienen la misma cantidad de espacio - tambien respecto a los bordes
    
    Si en flex-direccion uso row-reverse, column, colum-reverse: 

        . El justify-content se aplica igual pero respecto a como indique cada uno


    . FLEX WRAP: Para que queden la misma cantidad de elementos por columnas

    Dos elementos que se necesitan saber wrap y wrap-reverse

    EJEMPLOS:

    flex-wrap: wrap; Nuestros elementos van de arriba abajo y luego una nueva columna
    flex-wrap: wrap-reverse; Lo mismo pero al reves
    flex-wrap: nowrap; No hace el wrap - No cambia

    
    . ALIGN-ITEMS: Distribuira el espacio o nuestros articulos a lo largo del eje transversal
    (VERTICAL U HORIZONTAL)

    EJEMPLOS:

    align-items: flex-start; Se alinearan a lo largo del comienzo del eje tranversal - Los tira hacia arriba
    align-items: flex-end; Tira todos los elementos hacia abajo
    align-items: center; Tira los elementos hacia el medio
    align-items: baseline; Tira los elementos hacia arriba y el texto en la misma linea

    . ALIGN-CONTENT: Para controlar o distribuir el espacio a lo largo del eje transversal,
    pero solo cuando tenemos varias filas o columnas, dependiendo del diseño (si estamos en filas o en columnas)

        (Es el espacio uniforme entre las columnas, como estan separadas entre si
        Y el espacio entre filas, entre si mismas)
    
    EJEMPLOS
    Tenemos que usar tambien flex-wrap o wrap-reverse
    (flex-wrap: wrap;)
    Indicamos si es en fila o columna
    (flex-direction: column;)

    align-content: center; Espacio entre columnas - Estan centradas
    align-content: flex-start; Lo mueve hacia la izquierda
    align-content: space-between; Genera espacio entre las columnas o filas


    . ALIGN-SELF: Es lo mismo pero agregado a ELEMENTOS INDIVIDUALES

    (Tambien se puede ir cambiando respecto a filas o columnas, justify, etc).

    EJEMPLOS:
    div:nth-of-type(3){ align-self: center; Alinea solo el div 3 en el centro }
    div:nth-of-type(2){ align-self: flex-end; Alinea solo el div 2 abajo }



- Flex Sizing Properties

3 propiedades relacionadas con los elementos individuales en un contenedor flexible
y como crecen o decrecen cuadno hay un espacio disponible o cuando hay muy poco
espacio


    . Flex-Basis - Determina el tamaño inicial de un elemento antes de colocarlo en una especie de punto de partida
    (antes de agregarlo a nuestro contenedor flexible)

    EJEMPLO: 
    
    flex-basis: 300px; 

    Reemplaza el ancho o largo del div.
    Los espacios flexibles estan a lo largo del eje principal (depende si el flex-wrap es: row o column) 
    
    Son el tamaño inicial en el que se debe agregar un elemento a nuestro cuadro y puede ser ancho o largo
    depende del ROW o COLUMN

    . Flex-grow - Controla la cantidad de espacio que ocupa un elemento si hay espacio disponible
    
    EJEMPLOS: Nos sobra espacios de los dos lados en el div, entonces podemos agrandar los elementos individuales para que ocupen ese espacio



    . Flex-shrink: velocidad a la que los elementos se encogen cuando no hay suficiente espacio en el contenedor
      flex-shrink: 2; Como no entra todo, el elemento se va reduciendo

- Flex

Nos permite configurar los 3 de una vez = FLEX-GROW | FLEX-SHRINK | FLEX-BASIS

    . Two values - flex: 1 20px (flex-grow, flex-basis)
    . Two values - flex: 1 2 (flex-grow, flex-shrink)
    . One value - flex: 1, unitless number (flex-grow)
    . Three values - flex: 2 2 10% (grow, shrink, basis)
*/



*/

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center
}

#container{
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    
    display: flex; /*Quedan todos bien distribuidos de izq a derecha*/
    
     flex-direction: row; /* Es el predeterminado */
    /* flex-direction: row-reverse; Invierte el orden horizontalmente (Ahora empieza de derecha a izq) */
    /* flex-direction: column; Se direcciona verticalmente dentro del contenedor */
    /* flex-direction: column-reverse; Lo mismo que column pero a la inversa */

    /* justify-content: flex-start; Predeterminado - de izq a derecha */
    /* justify-content: flex-end; Toma el contenido y lo mueve al final del eje principal */
    justify-content: center; /* Centra el contenido a lo largo del eje principal */
    /* justify-content: space-between; El espacio entre ellos ocupa todo el espacio extra del contenedor y lo distribuye PERO NO en los BORDES EXTERIORES */
    /* justify-content: space-around; Le da a cada elemento la misma cantidad de espacio alrededor - Pero a la mitad respecto a los bordes */
    /* justify-content: space-evenly; todos tienen la misma cantidad de espacio - tambien respecto a los bordes */
    
    
    /* flex-wrap: wrap; Nuestros elementos van de arriba abajo y luego una nueva columna */
    /* flex-wrap: wrap; Lo mismo pero al reves */
    /* flex-wrap: nowrap; No hace el wrap - No cambia */


    /* align-items: flex-start; Se alinearan a lo largo del comienzo del eje tranversal - Los tira hacia arriba */
    /* align-items: flex-end; Tira todos los elementos hacia abajo */
    /* align-items: center; Tira los elementos hacia el medio */
    /* align-items: baseline; Tira los elementos hacia arriba y el texto en la misma linea */

     /* align-content: center; Espacio entre columnas/filas - Estan centradas */
    /* align-content: flex-start; Lo mueve hacia la izquierda (o inicio) */
    /* align-content: space-between; Genera espacio entre las columnas o filas */


}



/* Todos los divs estan dentro del contenedor pero distribuidos en forma vertical
ENTONCES yo quiero cambiar eso para que todos queden bien alineados dentro del contenedor

*/

#container div{
    width: 200px;
    height: 200px;
    /* max-width: 300px; Si no quiero que pase de cierta altura o ancho */
    text-align: center;
    /* font-size: 4em; */
    flex-basis: 600px; /*Reemplaza el ancho o largo del div.
    Los espacios flexibles estan a lo largo del eje principal (depende si el flex-wrap es: row o column) 
    
    Son el tamaño inicial en el que se debe agregar un elemento a nuestro cuadro y puede ser ancho o largo
    depende del ROW o COLUMN
    */


    /* PARA HACERLO GRUPAL - Todos los elementos ocupan el espacio disponible */
    /* flex-grow: 1;  */



}
/* 
div:nth-of-type(2){
    align-self: flex-end; Alinea solo el div 2 abajo
}
div:nth-of-type(3){
    align-self: center; Alinea solo el div 3 en el centro
} */





/* PARA HACERLO INDIVIDUAL */

div:nth-of-type(1){
     flex-grow: 1; /*El div 1 ocupa el espacio disponible */
     flex-shrink: 2; /*Como no entra todo, el elemento se va reduciendo*/
}

/* Si tengo 2, entonces los dos ocupan el espacio disponible */

div:nth-of-type(5){
    flex-grow: 2; /* El div 2 ocupa el otro espacio disponible */
    flex-shrink: 0; /*No se va a encoger*/
}

/*Si el flex-grow tiene distintos numeros, se van comiendo a los otros*/



main{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar{
    background-color: purple;
    /* border: 2px solid white; */
    flex: 1 2 300px;

}

main .maincontent{
    background-color: rgb(243, 187, 243);
    flex: 2 1 800px;
}