/* 

-TRANSITIONS 
Nos permiten intimar la transicion de un valor de propiedad a otro valor de propiedad

Se puede especificar: PROPERTY NAME | DURATION | TIMING FUNCTION | DELAY

EJEMPLO

    . transition: background-color 1s; - Solo el fondo cambia de color dada un segundo. Cambia la forma del borde inmediatamente
    . transition: background-color 3s 1s; - 1s significa el retraso que tiene para que se cambie de color
    . transition: all 3s 1s; - ALL es para que se cambien todas las propiedades
    . transition: background-color 3s, border-radius 1s; - Cambia el fondo cada 3 segundos y la forma de los bordes cada 1 segundo

    timing-function: Una transformacion lineal puede convertirse en otras formas
    cuando hago la transicion

*/

.circle{
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: background-color 3s ease-in, border-radius 1s; /*Realiza una transicion de 1s respecto al hover*/
}

/* Ponerlo siempre en segundos, es mas recomendable */

.circle:hover{
    background-color: cyan;
    border-radius: 50%;
}

section div{
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 10px 0;
    transition: margin-left 3s;
}

/* Con esto los elementos se moveran durante 3s de izquierda a derecha */

section:hover div{
    margin-left: 500px;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function:cubic-bezier(0.7, 0, 0.84, 0);
}
div:nth-of-type(4){
    transition-timing-function:cubic-bezier(0.85, 0, 0.15, 1);
}

/*A cada uno de los divs le doy una transicion distinta entonces el timing function va cambiando
TODOS terminan llegando al mismo lugar al mismo tiempo*/

/* No recomendable hacer transicion de todo: ALL */

