/* 

- Fancy Button Hover Effect CodeAlong

Para hacer que se vea un boton flotante 

*/

body{
    font-family: 'Rooto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(34, 34, 78);
}

button{
    background: none;
    color: orange;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover{
    border-color: yellow;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em yellow;
    transform: translateY(-0.25em);
    cursor: pointer;
}