/* 

- Google Fonts is Amazing

Nos permite usar todo tipo de fuentes

    . En HTML - Se utiliza el link que te da la fuente en Google Fonts
    . En CSS - Se utiliza la otra parte que te da Google Fonts
*/

body{
    /* font-family: Roboto, sans-serif; */
    font-family: Montserrat, sans-serif ;
}

main{
    width: 60%;
    margin: 0 auto;
}

h1{
    font-size: 3em;
    margin-bottom: 0;
}

h1 + h2{
    margin-top: 10px;
}

h1, h2, h3{
    font-family: Roboto, sans-serif;
    font-weight: 100;
}