/*

- CSS Tools: Reset CSS

Esto se utiliza para reiniciar el css
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 /* HTML5 display-role reset for older browsers  */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    box-sizing: border-box;
    font-family: 'opens sans', sans-serif;
}

body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/*LA CLASE PANEL ENVUELVE TODO*/

.panel{ 
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column; /*Para que sea responsive tambien en dispositivos mobiles es mejor column que row*/
    text-align: center;
    text-transform: uppercase;
}

/*PARA AGREGARLE UNA LINEA QUE SEPARE CADA DIV*/

.pricing-plan{ 
    border-bottom: 2px solid black;
    
}
.pricing-plan:last-child{ 
    border-bottom: none; 
    /*Al ultimo no le agrega una linea*/ 
}


/* PARA SEPARAR Y QUE QUEDEN BIEN LAS IMAGENES */

.pricing-img{
    margin-bottom: 25px;
    max-width: 100%;
}

/*AHORA VAMOS A TRABAJAR EN LA TIPOGRAFIA*/

.pricing-header{ /*Titulo de arriba*/
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features{ /*Lo que esta abajo del titulo gris*/
    margin: 50px 0 25px;
    color: #016ff9;
    
}
.pricing-features-item{ /*seleccionamos los items individuales*/
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid black;
}

.pricing-features-item:last-child{ /*al ultimo de los items si le agrega una linea para separar*/
    border-bottom: 1px solid black;
}

.pricing-price{
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;

}


/*VAMOS A CAMBIAR EL ESTILO DEL BOTON*/

.pricing-button{
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #318bf3;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus{ /*Cuando pasamos el cursos sobre el boton*/
    background-color: #e1f1ff;
}


.pricing-button.is-featured{ /*Seleccionamos un boton en particular*/
    background-color: #006ae2;
    color: white;
}
.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{ /*pasamos el cursos sobre ese boton en particular*/
    background-color: #269aff;
    color: white;
}

/* PARA QUE SEA RESPONSIVE */

@media (min-width: 900px){
    .panel{
        flex-direction: row; /*cuando lo minimizo para a row
        para que tenga una direccion de fila flexible*/
    }

    /*En el borde inferior cuando esta en un diseño de columna, ese es el divisor
    pero cuando vamos al diseño de fila no tiene sentido porque solo lo tenemos en dos de ellos

    entonces quiero eliminar el borde inferior y agregar un borde derecho*/
    .pricing-plan{
        border-bottom: none;
        border-right: 2px splid black;
        padding: 25px 50px; /*espacio en el interior*/
    }
    .pricing-plan:last-child{ /*al ultimo de los 3, le saca el borde de la derecha*/
        border-right: none;
    }
}